# a comment - this is ignored
# ignore share lib
*/.sl*
# ignore .consign, *.d, *.so, *.eps, *.swp, all the log file and script in StRoot
*.swp
temp_gccflags.c
*/StRoot/**/.consign
*/StRoot/**/*.d
*/StRoot/**/*.so
*/StRoot/**/*.eps
*/StRoot/**/*.err
*/StRoot/**/*.log
*/StRoot/**/*.csh
*/StRoot/**/*.swp
*/*.swp
*/temp_gccflags.c
*/*_C.*
*/macro/*_C.*

*/submit/*/JOBS/
*/submit/*/Log/
*/submit/*/sched*
*/submit/*/*.session.xml

*/submit/*/hadd/JOBS/
*/submit/*/hadd/Log/
*/submit/*/hadd/sched*
*/submit/*/hadd/*.session.xml

*/*/submit/*/JOBS/
*/*/submit/*/Log/
*/*/submit/*/sched*
*/*/submit/*/*.session.xml

*/*/submit/*/hadd/JOBS/
*/*/submit/*/hadd/Log/
*/*/submit/*/hadd/sched*
*/*/submit/*/hadd/*.session.xml

*/AutoDict*
*/*/AutoDict*
*/*/*/AutoDict*
*/*/*/*/AutoDict*
*/*/*/*/*/AutoDict*

*/*.list
*/*/*.list
*/*/*/*.list
*/*/*/*/*.list
*/*/*/*/*/*.list

*/*.backup
*/*/*.backup
*/*/*/*.backup
*/*/*/*/*.backup
*/*/*/*/*/*.backup

*/*.root
*/*/*.root
*/*/*/*.root
*/*/*/*/*.root
*/*/*/*/*/*.root
*/*/*/*/*/*/*.root

TreeProduction/submit/List/*/failed*.list
TreeProduction/submit/List/*/deleteROOT*.list
TreeProduction/submit/slurm-*

McPhiResCorr/*_C.*
McPhiResCorr/*.pdf
McPhiResCorr/*.eps

CalSpinAlignment/figures/*.eps
CalSpinAlignment/figures/*.pdf
CalSpinAlignment/*_C.*

*/figures/*
*/*/figures/*
*/*/*/figures/*
*/*/*/*/figures/*
*/*/*/*/*/figures/*

*/*.log
*/*/*.log
*/*/*/*.log
*/*/*/*/*.log
*/*/*/*/*/*.log

Utility/compareHistograms/*.root*
Utility/compareHistograms/compareHistograms.o
Utility/compareHistograms/compareHistograms

figures/*
!figures/c_rho00PtEnergy.eps

Embedding/*.root

RcPhiEffCorr/macro/submit/star/JOBS/*
FillSpinAlignment/submit/rcf/JOBS/*

AcceptanceCorrection/FValues
AcceptanceCorrection/fit
AcceptanceCorrection/*.pdf

*.pdf
*/*.pdf
*/*/*.pdf
*/*/*/*.pdf
*/*/*/*/*.pdf
*/*/*/*/*/*.pdf
